@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@media print {
  body * {
    visibility: hidden;
  }
  .printable-report, .printable-report * {
    visibility: visible;
  }
  .printable-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background: white !important;
    color: black !important;
    box-shadow: none !important;
    border: none !important;
  }
  .no-print {
    display: none !important;
  }
}
